@font-face{
	font-family: 'Arial';
	src: url(../font/arial.ttf);
}

@font-face{
	font-family: 'Charcoal';
	src: url(../font/Charcoal.ttf);
}

@font-face{
	font-family: 'Comic';
	src: url(../font/comic.ttf);
}

@font-face{
	font-family: 'Gadget';
	src: url(../font/Gadget.ttf);
}

@font-face{
	font-family: 'Geneva';
	src: url(../font/Geneva.ttf);
}

@font-face{
	font-family: 'Georgia';
	src: url(../font/georgia.ttf);
}

@font-face{
	font-family: 'Helvetica';
	src: url(../font/helveticaneuecyr-ultralight.otf);
}

@font-face{
	font-family: 'Impact';
	src: url(../font/impact.ttf);
}

@font-face{
	font-family: 'Tahoma';
	src: url(../font/tahoma.ttf);
}

@font-face{
	font-family: 'Times New Roman';
	src: url(../font/times.ttf);
}

@font-face{
	font-family: 'Trebuchet';
	src: url(../font/trebuc.ttf);
}

@font-face{
	font-family: 'Verdana';
	src: url(../font/VerandaPosterSG-Regular.ttf);
}









